{% extends 'rango/base.html' %}
{% load staticfiles %} <!--New line-->
{% block title_block %}
  About
{% endblock %}

{% block body_block %}
        <div>
              This tutorial has been put together by David Damer.<br />
             
        </div>
        <h3>Number of visits: {{ visits }}</h3>
        <div>
          
            <img src="{% static 'images/dog.jpg' %}"
                 alt="Picture of Dog" />
        </div>
            <img src="{{ MEDIA_URL }}cat.jpg"
                 alt="Picture of Cat" />
    <hr>

    <button class="btn btn-primary"
            onClick="alert('You clicked the button using Javascript.');">
    Click me - I run Javascript
    </button>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on SPeed
    </button>
    <p>This is an example</p>
    <p>This is another example</p>
<div id="msg">Hello - I'm here for a JQuery Example too</div>


{% endblock %}